*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    font-size: 62.5%;
    min-width: 319px;
    background-color: rgb(32, 31, 26);
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    margin: 50px auto 0 auto;
    font-size: 2.5rem;
}

h2{
    margin: 20px auto 0 auto;
    font-size: 1.6rem;
}

#img-div{
    margin: 20px auto 0 auto;
    width: 90%;
}

#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    margin:5px auto 0 auto;
    font-size: 1rem;
}

#line-time{
    width: 95%;
    margin: 25px auto;
    font-size: 1.2rem;
}

#tribute-info{
    width: 70%;
    text-align: left;
    padding-left: 10px;
}

li{
    font-size: 1.2rem;
    margin-top: 15px;
}

span{
    font-weight: 800;
}

#link{
    width: 95%;
    margin: 25px auto;
    font-size: 1.2rem;
}

#tribute-link{
    color: darkmagenta;
    text-decoration: none;

}

@media screen and (min-width:800px) {
    #img-div{
        width: 800px;
    }
    
}
